<div class="content-box col-centered">
  <h2>
    Questions for <%= @lesson.title %>
    <div class="btn-group pull-right">
      <%= link_to new_lesson_question_path(@lesson), class: 'btn btn-primary btn-xs' do %>
          <span class="glyphicon glyphicon-plus"></span> New Question
      <% end %>
    </div>
  </h2>

  <table class="table">
    <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @questions.each do |question| %>
        <tr>
          <td><%= question.statement %></td>
          <td><%= question.answer.statement %></td>
          <td>
            <%= actions_group show_btn(question),
                              edit_btn(edit_question_path(question)),
                              delete_btn(question) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'Back', @lesson %>
</div>
