<div class="content-box col-centered">
  <h2>
    <div class="btn-group pull-right">
      <%= link_to new_course_chapter_path(@course), class: 'btn btn-primary btn-xs' do %>
          <span class="glyphicon glyphicon-plus"></span> New Chapter
      <% end %>
    </div>
    <%= @course.title %>
  </h2>

  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @course.chapters.each do |chapter| %>
        <tr>
          <td><%= chapter.title %></td>
          <td>
            <%= actions_group show_btn(chapter),
                              edit_btn(edit_chapter_path(chapter)),
                              delete_btn(chapter) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>


  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
</div>
