<div class="content-box col-centered">
  <h2>
    <div class="btn-group pull-right">
      <%= link_to new_chapter_lesson_path(@chapter), class: 'btn btn-primary btn-xs' do %>
          <span class="glyphicon glyphicon-plus"></span> New Lesson
      <% end %>
    </div>
    <%= @chapter.title %>
  </h2>

  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @chapter.lessons.each do |lesson| %>
        <tr>
          <td><%= lesson.title %></td>
          <td>
            <%= actions_group show_btn(lesson),
                              edit_btn(edit_lesson_path(lesson)),
                              delete_btn(lesson) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>


  <%= link_to 'Edit', edit_chapter_path(@chapter) %> |
  <%= link_to 'Back', @chapter.course %>
</div>
